NEXT_PUBLIC_API_URL=http://localhost:3002
NEXT_PUBLIC_UMAMI_SCRIPT_URL=
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
NEXT_PUBLIC_UMAMI_DOMAINS=
NEXT_PUBLIC_UMAMI_DASHBOARD_URL=
UMAMI_API_BASE_URL=
UMAMI_WEBSITE_ID=
UMAMI_API_KEY=
UMAMI_API_TOKEN=
