services:
  db:
    image: postgres:15
    container_name: team_blog_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: team_blog
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
